@import url('https://fonts.googleapis.com/css2?family=Sora:wght@500&display=swap');

body,html{
    margin: 0;
    padding:0;
    font-family: 'Sora',Helvetica,sans-serif;
}
ul li{
    list-style: none;
}
p{
    opacity: 0.5;
    font-size: 15px;
}

/*  */

nav {
    background-color: rgb(232, 230, 230);
    display: flex;
    padding: 2px 40px;
    justify-content: space-around;
    box-shadow: 0 1px 5px rgb(124, 124, 124);
    height: 7vh;
}

nav .left {
    width: 50%;
    padding: 5px;
    display: flex;
    align-items: center;
}
nav .left img{
    width: 50px;
    margin-right: 20px;
}
nav .right{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
    padding: 5px;
    text-align:right;
    padding-right: 40px;
}
nav ul{
    width: 20%;
    display: flex;
    justify-content: space-between;
}

nav ul li{
    display: inline;
} 

nav .left ul li a{
    text-decoration: none;
    color: black;
    font-weight: 850;
    transition: 0.2s ease;
}

nav .left ul li .home{
    color: rgb(245, 32, 8);
}

nav .right a{
    background-color: rgb(245, 32, 8);
    font-family: sans-serif;
    color: white;
    padding: 8px 15px;
    border-radius: 5px;
    text-decoration: none;
    transition: 0.2s ease;
}
/*  */
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px 0;
    height: 93vh;
}

.container section {
    display: flex;
    width: 85%;
}

section .left-sec{
    width: 38%;
}

section .card {
    border: 1px solid rgb(194, 194, 194);
    padding: 20px;
    box-shadow: 0 0 20px rgb(99, 99, 99);
    border-radius: 10px;
    transition: 0.2s ease;
}

section .card img{
    width: 100%;
    border-radius: 10px;
}

section .card .another-skill{
    display: flex;
    align-items: center;
}

section .card .another-skill ul{
    display: flex;
    align-items: center;
}

section .card .another-skill img{
    width: 31px;
    margin: 0 10px;
}

section .card .another-skill ul{
    width: 80%;
    justify-content: space-between;
}

.card h1{
    font-size: 1.9rem;
}

.card table{
    width: 100%;
    border-collapse: collapse;
}

section .right-sec{
    width: 60%;
    padding-left: 20px;
}

section .right-sec img{
    width: 40px;
    transition: 0.2s ease;
    cursor: pointer;
}

section .right-sec .skill-cont{
    display: flex;
    justify-content: space-between;
}

section .right-sec .skill{
    width: 30%;
}

.skill h4{
    font-size: 1.1rem;
}

.card table{
    border: 1px solid rgb(46, 46, 46);
    box-shadow: 0 0 5px #4b4b4b;
}

/* for form */
form{
    margin: 5% auto; 
    width: 400px; 
    font-weight: 900;
}

.cont-input{
    margin: 10px 0;
}

.inp-to-style{
    width: 100%; 
    padding: 5px; 
    border-radius: 5px;
    border:2px solid rgb(119, 116, 116); 
    background-color: #ededed;
}

.btn-sub{
    margin: 20px 0;
    padding: 10px 40px;
    border-radius: 5px;
    background-color: rgb(133, 20, 245);
    border-style: none;
    color: white;
}
/*  */
.card:hover{
    box-shadow: 0 0 0 rgb(105, 105, 105);
}

nav ul li a:hover{
    color: orangered;
}
nav .right a:hover{
    background-color: rgb(250, 213, 90);
    color: black;
}
footer img:hover{
    transform: scale(1.1);
}
.another-skill img:hover{
    opacity: 0.5;
}